<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/dic.css" />
</head>

<body>

    <section>
        <div class="wrapper">
            <div class="wrapper__header">
                <h2>English Dictionary</h2>
            </div>
            <div class="wrapper__input">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search a Word" class="wrapper__input__inpt">
                <i class="fas fa-times"></i>
            </div>
            <p class="wrapper__p">type a word then press enter to search about the meaning of it..</p>
            <div class="wrapper__details">
                <div class="wrapper__details__detail">
                    <h3 class="wrapper__details__detail__left"></h3> <span class="wrapper__details__detail__right"><i class="fas fa-volume-up"></i></span>
                    <div class="wrapper__details__detail__adjective">
                        <span class="wrapper__details__detail__adjective__adj"> </span><span class="wrapper__details__detail__adjective__phonetic">hapi</span>
                    </div>
                </div>
                <div class="wrapper__details__detail">
                    <h3>Meaning</h3>
                    <p class="wrapper__details__detail__Meaning"></p>
                </div>
                <div class="wrapper__details__detail">
                    <h3>Example</h3>
                    <p class="wrapper__details__detail__example"></p>
                </div>
                <div class="wrapper__details__detail">
                    <h3>Synonyms</h3>
                    <p class="wrapper__details__detail__synonym"></p>
                </div>
            </div>

        </div>
    </section>

    <script src="https://kit.fontawesome.com/7280065e63.js" crossorigin="anonymous"></script>
    <script src="../static/js/dic.js"></script>
</body>

</html>